
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Russo+One&display=swap');

:root {
    --primary: rgb(5, 10, 48);
    --secondary: #FFF;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    transition: all 0.5s ease-in;
}

html.dark {
    --primary: #FFF;
    --secondary:rgb(26, 26, 26);
}

html.dark {
    background-color: #111;
    color: var(--primary)
}

body {
    font-size: 16px;
    height: 100%;
    font-size: 'Monterrat', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
}

/*  DARK MODE  */ 
.toggle {
    background-color:var(--primary);
    color:var(--secondary);
    border-radius: 5px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    cursor: pointer;
}

.toggle:focus {
    outline: none;
}


/*======NAVIGATION=======*/
.logo{
    height: 200px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.open-btn {
    position: fixed;
    top: 10px;
    left:10px;
    width: 50px;
    color:white;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: rgba(47, 53, 63, 0.996);
    width: 60%;
    max-width: 480px;
    min-width: 320px;
    transition-delay: 0.4s;
}

.nav-black.visible {
    transition-delay: 0s;
}

.nav-red {
    background-color: rgba(89, 105, 120, 0.592);
    width: 95%;
    transition-delay: 0.2s;
}

.nav-red.visible {
    transition-delay: 0.2s;
}
.nav-white {
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}

.nav-white.visible {
    transition-delay: 0.4s;
}

.close-btn {
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 30px;
}

.list {
    list-style-type: none;
    text-decoration: none;
    /* padding: 0; */
}

.list li {
    margin: 20px 0;
}

.list li a {
    color: rgb(34,31,31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.list ul {
    list-style-type: none;
    padding-left: 20px;
}

#dot-btn {
    color: rgb(4, 18, 43);
}

/* END NAV */

/*  ABOUT */

#about {
    padding-bottom: 2rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 1.75em;
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

h1 strong, a {
    color:#fff;
}

hr {
    background-color: lightslategray;
}

/* .sidebar {
    height: 100%;
    width: 40%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.nav-img {
    background-image: url(./images/blurBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

#nav-sidebar {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 75px;
} */

.avatar{
    width: 18%;
    margin-bottom: 1rem;
}

#bg-logo {
    width: 25%;
    position:absolute;
    opacity: 0.4;
    right: 35%;
    top: 5px;
    z-index: -1;
    opacity: 0.1;
}

#main {
    margin-left: 25%;
    /* max-width: 54em; */
    padding: 8em 4em 4em 4em;
    width: calc(100% - 35%);
    font-family: 'Montserrat', sans-serif;
}

#resume {
    border:none;
    border-radius: 6px;
    background-color: transparent;
    color:rgb(5, 219, 252);

}

/* RECENT WORK */
.card {
    width: 14rem;
    padding: 0 !important;
}

.card-title {
    font-weight: 600;
}

.work-card {
    background:transparent;
    border:none;
    width: 14rem;
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.236); */
    margin: 9px 5px;
    border-radius: 3px;
}

.col {
    padding: 5px 2px!important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* FOOTER */

.footer, .footer:hover {
    color:cyan
}

i {
    font-size: 3rem;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8em;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
}

/* .trapdoor {
    -webkit-transform: translateZ(0px);
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -25px;
    width: 200px;
    height: 50px;
    box-shadow: inset -7px 0px 12px -8px rgba(0,0,0,0.3), inset 7px 0px 12px -8px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -ms-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
}      
.trapdoor:hover {

    background: #fff;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
    
.topdoor {
top: -50%; 
}

.bottomdoor {
top: 100%; 
} */



@media screen and (max-width: 1280px) {

    /* Footer */

        #footer .copyright li {
            border-left-width: 0;
            display: block;
            line-height: 2.25em;
            margin-left: 0;
            padding-left: 0;
        }

    /* Main */

        #main {
            margin-left: 30%;
            max-width: none;
            padding: 6em 3em 3em 3em;
            width: calc(100% - 30%);
        }

}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }

    #main {
        width: 100%;
    }

    /* #recent-work {
        display: flex;
    } */
}

@media (max-width: 575px) {
    .card-deck {  
    display: block;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-right: -30px;
	margin-left: -30px;
    }

}